* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: lightblue;
    --sec-bg-color: lightyellow;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 10px;
}

.container-settings {
    display: grid;
    grid-template-columns: 10em;
    grid-auto-rows: 1.75em;
    gap: 0.5em 0;
    background-color: var(--main-bg-color);
    padding: 10px;

}

.container-settings .btn {
    background-color: var(--main-bg-color);
    border: 2px black solid;
}

.container-settings .btn:hover {
    background-color: var(--sec-bg-color);
    cursor: pointer;
}


.container-grid {
    padding: 25px;
    background-color: var(--sec-bg-color);
}