* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #7480A7;
    --sec-bg-color: #A79B74;
    --thi-bg-color: #A7749A;
    --main-font-size: 20px;
}

body {
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.container-settings {
    display: grid;
    font-size: var(--main-font-size);
    grid-template-columns: 12em;
    grid-auto-rows: minmax(2em, auto);
    gap: 0.5em 0;
    background-color: var(--main-bg-color);
    padding: 10px;
}

.container-settings .color-box {
    overflow: hidden;
}

.container-settings .color-box > input {
    height: 200%;
    width: 200%;
    transform: translateX(-10px) translateY(-10px);
}

.container-settings .btn, .container-settings .color-box {
    background-color: var(--main-bg-color);
    border: 3px black solid;
    font-size: var(--main-font-size);
}

.container-settings .btn:hover, .container-settings .btn-active {
    background-color: var(--sec-bg-color);
}

.container-settings .btn:hover {
    cursor: pointer;
}

.container-settings .container-slider {
    margin: 1em 0 .5em 0;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-settings .slider {
    margin: 0 0 0.75em 0;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.container-settings .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
}

.container-settings .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}                                       

.container-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border: 25px var(--main-bg-color) solid;
    background-color: black;
}

.no-grid {
    border: none;
}
