* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #7480A7;
    --sec-bg-color: #A79B74;
}

body {
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.container-settings {
    display: grid;
    grid-template-columns: 10em;
    grid-auto-rows: 1.75em;
    gap: 0.5em 0;
    background-color: var(--main-bg-color);
    padding: 10px;
}

.container-settings .color-box {
    overflow: hidden;
}

.container-settings .color-box > input {
    height: 200%;
    width: 200%;
    transform: translateX(-10px) translateY(-10px);
}

.container-settings .btn, .container-settings .color-box {
    background-color: var(--main-bg-color);
    border: 2px black solid;
}

.container-settings .btn:hover, .container-settings .btn-active {
    background-color: var(--sec-bg-color);
}

.container-settings .btn:hover {
    cursor: pointer;
}

.container-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    border: 25px var(--main-bg-color) solid;
    background-color: black;
}

